*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
    font-family: inherit;
}


/* Header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

/* Logo */
.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-studio{
    color: #2e2f42;   
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.menu-button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu-icon {
    fill: #2f2f37;
    display: block;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    padding-top: 72px;
    padding-bottom: 40px;
    padding-right: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-menu {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-item:hover,
.mobile-nav-item:focus {
    color: #404bbf;
}

.mobile-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-link:focus,
.mobile-link:hover {
    color: #404bbf;
}

.mobile-link.mobile-link-studio {
    position: relative;
    color: #404bbf;
}

.mobile-address {
    margin-bottom: 48px;
    font-style: normal;
}

.mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-address-line {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-line {
    color: #4d5ae5;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.social-icons-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
    background-color: #404bbf;
}

.social-icons-link-svg {
    fill: #f4f4fd;
}

/* Menu */
.menu {
    display: none;
}

/* Address */
.address {
    display: none;
}

/* Main page */
.main-page {
    background-color: #2e2f42;
    display: block;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 320px;
    margin: auto;
}

@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .main-page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mob-2x.jpg);
    }
}

.main-page-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    max-width: 216px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

/* Button */
.main-page-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    min-width: 169px;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-button:hover,
.main-page-button:focus {
    background-color: #404bbf;
}


/* Features */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feauters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.feauters-item {
    width: 100%;
}

.feauters-icons-container {
    display: none;
}

.feauters-item-title {
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.feauters-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 500;
}


/* Team */
.team {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.team-item {
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.team-item-container {
    padding: 32px 0;
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-icons-item {
    margin-top: 8px;
}

.team-icons-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-link:hover, .team-icons-link:focus {
    background-color: #404bbf;
}

.team-icons-link-svg {
    fill: #f4f4fd;
}


/* Portfolio */
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-item {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-img-text {
    display: none;
}

.portfolio-item-container {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* Footer */
.footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    align-items: baseline;
}

.footer-logo-container, 
.media-container, 
.subscribe-container {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    margin-bottom: 16px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.media-container {
    margin-left: auto;
    margin-right: auto;
}

.media-container-title, .subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-icons-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link-svg {
    fill: #f4f4fd;
}

.footer-icons-link:focus, .footer-icons-link:hover {
    background-color: #31d0aa;
}

.form-subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #fff;
}

.subscribe-input::placeholder {
    color: #fff; 
}

.subscribe-button {
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    display: flex;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover, .subscribe-button:focus {
    background-color: #404bbf;
}

.subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}


/* Modal */
.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #FCFCFC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close, .mobile-menu-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-items: end;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    padding: 0;
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close {
    background-color: transparent;
}

.modal-close:hover, .modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.form-modal-container {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-label-container {
    position: relative;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-50%);
    fill: #2e2f42;
}

.textarea-container {
    margin-bottom: 16px;
}

.form-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    outline: transparent;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-container-checkbox {
    margin-bottom: 24px;
}

.form-label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.checkbox-span {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked+.form-label-checkbox>.checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.link-checkbox {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    line-height: 1.33;
}

/* Button modal */
.modal-overlay-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    display: block;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay-button:hover,
.modal-overlay-button:focus {
    background-color: #404bbf;
}



/* For tablet */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    /* Navigation */
    .page-nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    /* Mobile menu */
    .menu-button {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    /* Menu */
    .menu {
        display: flex;
        align-items: center;
        gap: 40px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-item:hover,
    .menu-item:focus {
        color: #404bbf;
    }

    .link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .link:focus,
    .link:hover {
        color: #404bbf;
    }
    
    .link.link-studio {
        position: relative;
        color: #404bbf;
    }
    
    .link.link-studio::after {
        content: '';
        border-radius: 2px;
        bottom: -1px;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
    }

    /* Address */
    .address {
        font-style: normal;
        display: block;
    }
    
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-line {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-line:hover,
    .address-line:focus {
        color: #404bbf;
    }

    /* Main page */
    .main-page {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-tab.jpg);
    }

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .main-page {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-tab-2x.jpg);
        }
    }

    .main-page-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }

    /* Features */
    .feauters-list {
        column-gap: 24px;
    }

    .feauters-item-title {
        text-align: start;
    }

    .feauters-item {
        width: calc((100% - 24px) / 2);
    }
  
    /* Team */
    .team-list {
        column-gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }

    .team-item {
        margin: 0;
    }

    /* Portfolio */
    .portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    /* Footer */
    .footer-container {
        column-gap: 24px;
        padding-left: 108px;
    }

    .footer-logo {
        margin-left: 0;
    }

    .footer-text {
        max-width: 264px;
    }

    .media-container {
        margin: 0;
    }

    .media-container-title,
    .subscribe-title {
        text-align: start;
    }

    .form-subscribe {
        flex-direction: row;
        gap: 24px;
    }

    .subscribe-input {
        width: 264px;
    }

    /* Modal */
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}


/* For desktop */
@media screen and (min-width: 1158px) {
    section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Navigation */
    .header-logo {
        margin-right: 76px;
    }

    /* Adress */
    .adress {
        display: flex;
    }

    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .address-line {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }

    /* Main page */
    .main-page {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-desk.jpg);
    }

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .main-page {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-desk-2x.jpg);
        }
    }
    
    .main-page-title {
        margin-bottom: 48px;
    }

    /* Features */
    .feauters-list {
        gap: 24px;
        flex-wrap: nowrap;
    }

    .feauters-item {
        width: calc((100% - 3*24px) / 4);
    }

    .feauters-icons-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        border-radius: 4px;
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }

    .feauters-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .feauters-item-text {
        font-weight: 400;
    }

    /* Team */
    .team-list {
        gap: 24px;
        flex-wrap: nowrap;
    }

    .team-item {
        width: calc((100% - 3*24px) / 4);
    }
 
    /* Portfolio */
    .portfolio-list {
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
    }

    .portfolio-item:hover .portfolio-item-img-text {
        transform: translate(0);
    }
        
    .overlay {
        position: relative;
        overflow: hidden;
    }
        
    .portfolio-item-img-text {
        padding: 40px 32px;
        background-color: #4d5ae5;
        color: #f4f4fd;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
    }

    /* Footer */
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        padding: 0 15px;
        gap: 0;
    }
        
    .footer-logo-container {
        margin-right: 120px;
    }
        
    .subscribe-container {
        margin-left: auto;
    }
    
    .form-input:focus,
    .form-textarea:focus {
        border-color: #4D5AE5;
    }
    
    .form-input:focus+.form-modal-icon {
        fill: #4d5ae5;
    }
}
